{% set companyName = infoSociety.companyName %}
{% set sector = infoSociety.sectorActivity %}
{% extends 'template.html.twig' %}

{% block body %}
    <h1>ici c'est le head de user pour {{ sector }} company! ✅</h1>
{% endblock %}
