{% set companyName = infoSociety.companyName %}
{% set sector = infoSociety.sectorActivity %}
{% extends 'template.html.twig' %}

{% block body %}

    <h1>Je suis pour {{ sector }}! ✅</h1>


{% endblock %}