<a  {% if articles != 0 %} class="btn btn-success"  {% else %} class="btn btn-light" {% endif %} role="button" href="{{ path('panier') }}"><i class="fas fa-shopping-cart"></i> Votre Panier
    <span class="badge badge-light">
        {% if articles == 0 %}
        0
        {% else %}
        {{ articles }}
        {% endif %}
    </span>
</a>
