{% extends 'template.html.twig' %}
{% block title %}Modification d'un administrateur{% endblock %}
{% block body %}


    <div class="container" xmlns="http://www.w3.org/1999/html">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                </br>
                <div class="alert alert-{{ label }} mt-10">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <h4><span class="glyphicon glyphicon-edit"></span> Modifier cet administrateur</h4>
        {{ form(form) }}


    </div>



{% endblock %}